body {
  height: 100vh;
  background: url(222.jpeg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(231, 212, 149, 0);
  width: 200px;
  height: 3px;
  padding: 10px 10px;
  transform: translateX(-10%) translateY(180%);
  justify-content: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  border-radius: 10%;
}
